
Server/obj/Debug/net5.0/staticwebassets/Server.StaticWebAssets.xml
Server/obj/Debug/net5.0/staticwebassets/Server.StaticWebAssets.Manifest.cache
Server/obj/Debug/net5.0/Server.RazorTargetAssemblyInfo.cache
Server/obj/Debug/net5.0/Server.pdb
Server/obj/Debug/net5.0/Server.MvcApplicationPartsAssemblyInfo.cs
Server/obj/Debug/net5.0/Server.MvcApplicationPartsAssemblyInfo.cache
Server/obj/Debug/net5.0/Server.genruntimeconfig.cache
Server/obj/Debug/net5.0/Server.GeneratedMSBuildEditorConfig.editorconfig
Server/obj/Debug/net5.0/Server.dll
Server/obj/Debug/net5.0/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/net5.0/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/net5.0/Server.csproj.AssemblyReference.cache
Server/obj/Debug/net5.0/Server.assets.cache
Server/obj/Debug/net5.0/Server.AssemblyInfoInputs.cache
Server/obj/Debug/net5.0/Server.AssemblyInfo.cs
Server/obj/Debug/net5.0/ref/Server.dll
Server/obj/Debug/net5.0/project.razor.json
Server/obj/Debug/net5.0/apphost.exe
Server/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Server/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
Server/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Server/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Server/bin/Debug/net5.0/System.CodeDom.dll
Server/bin/Debug/net5.0/System.Management.dll
Server/bin/Debug/net5.0/Server.runtimeconfig.json
Server/bin/Debug/net5.0/appsettings.json
Server/bin/Debug/net5.0/appsettings.Development.json
Server/bin/Debug/net5.0/K4os.Compression.LZ4.dll
Server/bin/Debug/net5.0/Cassandra.dll
Server/bin/Debug/net5.0/Microsoft.OpenApi.dll
Server/bin/Debug/net5.0/ref/Server.dll
Server/bin/Debug/net5.0/Server.dll
Server/bin/Debug/net5.0/Server.deps.json
Server/bin/Debug/net5.0/Server.dll
Server/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Management.dll
Server/bin/Debug/net5.0/Server.exe
Server/bin/Debug/net5.0/Server.pdb
Server/bin/Debug/net5.0/Newtonsoft.Json.dll
Server/bin/Debug/net5.0/Server.runtimeconfig.dev.json
Server/bin/Debug/net5.0/appsettings.Development.json
Server/bin/Debug/net5.0/Cassandra.dll
Server/bin/Debug/net5.0/K4os.Compression.LZ4.dll
Server/bin/Debug/net5.0/Microsoft.OpenApi.dll
Server/bin/Debug/net5.0/Newtonsoft.Json.dll
Server/bin/Debug/net5.0/ref/Server.dll
Server/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Management.dll
Server/bin/Debug/net5.0/Server.deps.json
Server/bin/Debug/net5.0/Server.dll
Server/bin/Debug/net5.0/Server.exe
Server/bin/Debug/net5.0/appsettings.json
Server/bin/Debug/net5.0/Server.pdb
Server/bin/Debug/net5.0/Server.runtimeconfig.dev.json
Server/bin/Debug/net5.0/Server.runtimeconfig.json
Server/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
Server/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Server/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Server/bin/Debug/net5.0/System.CodeDom.dll
Server/bin/Debug/net5.0/System.Management.dll
Server/obj/Debug/net5.0/Server.csproj.CopyComplete
Server/obj/project.nuget.cache
